.bg {

  background: rgba(255, 141, 0, 0.25) url("../img/bkgrndImage.jpg");
  background-blend-mode: darken;

  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
h1,
p{
	color: #8D775D
}
.row,
.col-12{
	background-color: #151526;
}
.col-12{
	overflow: hidden;
}